[Unit]
Description=filebrowser
After=network-online.target
Wants=network-online.target systemd-networkd-wait-online.service

[Service]
Restart=on-failure
RestartSec=5s
ExecStart=/usr/local/bin/filebrowser -c /etc/filebrowser/config.json

[Install]
WantedBy=multi-user.target
