[Unit]
Description=CoalRelay Server
After=network.target

[Service]
Type=simple
LimitAS=infinity
LimitRSS=infinity
LimitCORE=infinity
LimitNOFILE=65535
ExecStart=/usr/bin/coal-relay
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
EOF
